services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: auto_declic_frontend
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - VITE_API_URL=http://localhost:8000
    networks:
      - mynet

networks:
  mynet:
    name: mynet
    external: true 